<form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">ERP订单明细</label>
      <div class="layui-input-block layui-upload">
        <input type="text" placeholder="请选择xlsx文件" class="layui-input one-date-file-input">

        <div class="layui-form-label layui-hide"><a class="layui-table-link" href="javascript:void(0);"
            lay-event="link"><i class="layui-icon">&#xe640;</i></a></div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">成本表</label>
      <div class="layui-input-block layui-upload">
        <input type="text" id="secondSelect" name="xlsxFile" placeholder="请选择xlsx文件"
          class="layui-input one-date-file-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">快车表</label>
      <div class="layui-input-block layui-upload">
        <input type="text" id="secondSelect" name="xlsxFile" placeholder="请选择xlsx文件"
          class="layui-input one-date-file-input">
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">触点表</label>
      <div class="layui-input-block layui-upload">
        <input type="text" id="secondSelect" name="xlsxFile" placeholder="请选择xlsx文件"
          class="layui-input one-date-file-input">
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo" id="fileUpload">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>