<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{.SiteName}}</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  
</head>

<body>
  <div class="layui-layout layui-layout-admin">

    <!-- header -->
    <div class="layui-header layui-bg-cyan">
      <div class="layui-logo layui-hide-xs layui-bg-cyan">{{.AppName}}</div>
      <!-- 头部区域（可配合layui 已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">

        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
          <i class="layui-icon layui-icon-spread-left"></i>
        </li>

        <!--         <li class="layui-nav-item layui-hide-xs"><a href="">nav 1</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>
        <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li> -->
        <li class="layui-nav-item">
          <a href="javascript:;">文件处理</a>
          <dl class="layui-nav-child">
            <dd><a href="">京东</a></dd>
          </dl>
        </li>
      </ul>

      <!-- 个人信息 -->
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide layui-show-md-inline-block">
          <a href="javascript:;">
            <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
              class="layui-nav-img">
            tester
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">Your Profile</a></dd>
            <dd><a href="">Settings</a></dd>
            <dd><a href="">Sign out</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
          <a href="javascript:;">
            <i class="layui-icon layui-icon-more-vertical"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- 垂直导航栏 -->
    <div class="layui-side layui-bg-cyan">
      <div class="layui-side layui-bg-cyan">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree layui-bg-green" lay-filter="test">
          <!-- <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">menu group 1</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">menu 1</a></dd>
              <dd><a href="javascript:;">menu 2</a></dd>
              <dd><a href="javascript:;">menu 3</a></dd>
              <dd><a href="">the links</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item">
            <a href="javascript:;">menu group 2</a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;">list 1</a></dd>
              <dd><a href="javascript:;">list 2</a></dd>
              <dd><a href="">超链接</a></dd>
            </dl>
          </li> -->
          <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>
          <!-- <li class="layui-nav-item"><a href="">the links</a></li> -->
        </ul>
      </div>
    </div>

    <!-- 内容 -->
    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">{{.LayoutContent}}</div>

      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">文件一</label>
          <div class="layui-input-block layui-upload">
            <input type="text" id="firstSelect" placeholder="请选择xlsx文件" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">文件2</label>
          <div class="layui-input-block layui-upload">
            <input type="text" id="secondSelect" name="xlsxFile" placeholder="请选择xlsx文件" value="dfd" class="layui-input">
          </div>
        </div>

        <!-- <div class="layui-form-item">
          <label class="layui-form-label">密码框</label>
          <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
              class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">辅助文字</div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">选择框</label>
          <div class="layui-input-block">
            <select name="city" lay-verify="required">
              <option value=""></option>
              <option value="0">北京</option>
              <option value="1">上海</option>
              <option value="2">广州</option>
              <option value="3">深圳</option>
              <option value="4">杭州</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">复选框</label>
          <div class="layui-input-block">
            <input type="checkbox" name="like[write]" title="写作">
            <input type="checkbox" name="like[read]" title="阅读" checked>
            <input type="checkbox" name="like[dai]" title="发呆">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">开关</label>
          <div class="layui-input-block">
            <input type="checkbox" name="switch" lay-skin="switch">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">单选框</label>
          <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked>
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">文本域</label>
          <div class="layui-input-block">
            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
          </div>
        </div> -->
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="fileUpload">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      底部固定区域
    </div>
  </div>

  <script src="/static/layui/layui.js"></script>
  <script src="/static/js/websocket.js"></script>
  <script>

    layui.use('jquery', function() {
      var $ = layui.$
      $(function() {
        // 开启webSocket
        webSocketConnect()
      })
         
    })

    layui.use('upload', function () {
      var $ = layui.jquery, upload = layui.upload

      // console.log('渲染方法')
      upload.render({
        elem: '#firstSelect',
        url: '/file/upload/xlsx',
        // auto: false,
        accept: 'file',
        // acceptMime: 'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        // exts: 'xlsx|xls',
        drag: true,
        choose: function (obj) {
          layer.msg('文件选择完成1')
          // obj.pushFile()

          obj.preview(function (index, file, result) {
            console.log('文件名：', file.name, 'infex', index)
          })
          // e.attr('text', "hahahah")
        },
        // bindAction: '#fileUpload',

        before: function () {
          this.data = {
            deviceName : "nice_shot"
          }

          layer.load()
        },

        progress: function (prgress, elem, responsed, index) {
          console.log('1百分比:', prgress, '%')
        },
        done: function (response, index, uploadInstance) {
          layer.msg('1文件上传完成', response)

layer.closeAll('loading')

        },
        error: function (index, uploadInstance) {
          // layer.msg('发生错误:', error)
          layer.closeAll('loading')
          console.log('发生错误了')
        }
      })

      /* upload.render({
        elem: '#secondSelect',
        url: '/file/upload/xlsx',
        auto: false,
        accept: 'file',
        // acceptMime: 'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
        // exts: 'xlsx|xls',
        drag: true,
        choose: function (obj) {
          layer.msg('文件选择完成2')
          obj.pushFile()

          obj.preview(function (index, file, result) {
            console.log('file：', file.name, 'infex', index)
          })
          // e.attr('text', "hahahah")
        },
        bindAction: '#fileUpload',

        progress: function (prgress, elem, responsed, index) {
          console.log('2百分比:', prgress, '%')
        },
        done: function (response, index, uploadInstance) {
          layer.msg('2文件上传完成', response)



        },
        error: function (index, uploadInstance) {
          // layer.msg('发生错误:', error)
          console.log('发生错误了', error)
        }
      })  */
    })


    //JS 
    layui.use(['element', 'layer', 'util'], function () {
      var element = layui.element
        , layer = layui.layer
        , util = layui.util
        , $ = layui.$;

      //头部事件
      util.event('lay-header-event', {
        //左侧菜单事件
        menuLeft: function (othis) {
          layer.msg('展开左侧菜单的操作', { icon: 0 });
        }
        , menuRight: function () {
          layer.open({
            type: 1
            , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
            , area: ['260px', '100%']
            , offset: 'rt' //右上角
            , anim: 5
            , shadeClose: true
          });
        }
      });

      util.event('one-date-file-input', {

        fileSelect: function () {

        }
      })
    });

  </script>
</body>

</html>